<div class="row" style="margin-bottom: 50px">

  <%= form_for team do |f| %>

    <% if team.errors.any? %>
      <div id="error_explanation">
        <h6>
          <%= pluralize(team.errors.count, "error") %> prohibited
          this team from being saved:
        </h6>

        <ul>
        <% team.errors.full_messages.each do |msg| %>
          <li class="red-text"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col s6">
        <%= f.label :name %>
        <%= f.text_field :name  %>
      </div>
    </div>

    <% team_days_of_the_week.each do |day| %>
      <div class="row">
        <div class="col s6">
          <%= f.check_box day.to_sym, class:"filled-in" %>
          <%= f.label day.to_sym %>
        </div>
      </div>
    <% end %>

</div>

  <button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Save" style="margin: 10px 0px">
      <i class="material-icons icon-white"><%= f.submit "save"%></i>
  </button>

  <% end %>
