<h1>Team Details</h1>

<div>
  <p>
    Team Name: <%= @team.name %>
  </p>
  <p>
    Number of Members: <%= @team.employees.length %>
  </p>
  <p>
    id: <%= @team.id %>
  </p>
</div>


<% if @team.employees.length === 0 %>
  <div>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Team</th>
        <th>Active?</th>
      </tr>
      <% @team.employees.each do |employee| %>
        <tr>
          <td><%= employee.id %></td>
          <td><%= employee.name %></td>
          <td><%= employee.assignable %></td>
        <tr>
      <% end %>
    </table>
  </div>
<% elsif %>
  <p>
    This team has no members.
  </p>
<% end %>
