<h4 class="center-align">Team Details</h4>

<div style="margin-bottom: 20px">
  <div class="row">
    <div class="col s8">
      <p>
        id: <%= @team.id %>
      </p>
      <p>
        Team: <%= @team.name %>
      </p>
      <p>
        Number of Members: <%= @team.employees.length %>
      </p>
      <p>
        Day of the Week Shifts Start: <%= team_start_day_as_string(@team) %>
      </p>
      <p>
        Length of Weekly Shift Block (days): <%= @team.shift_length %>
      </p>
    </div>
    <div class="col s4" style="margin-top: 50px">
      <button class="waves-effect waves-light blue btn-floating btn-large tooltipped" data-position="bottom" data-delay="50" data-tooltip="See shifts">
        <i class="material-icons icon-white"><%= button_to "schedule", team_shifts_path(@team), method: :get%></i>
      </button>
      <button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Go back" style="margin-left:1em">
        <i class="material-icons icon-white"><%= button_to "arrow_back", teams_path, method: :get %></i>
      </button>
      <button class="waves-effect waves-light btn-floating btn-large red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit shift details" style="margin-left:1em">
        <i class="material-icons icon-white"><%= button_to "edit", edit_team_path(@team), method: :get  %></i>
      </button>
    </div>
  </div>


  <% if !@team.employees.empty? %>
    <div>
      <p>
        Members
      </p>
      <table class="highlight" style="margin-top: 20px">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Assignable?</th>
          </tr>
        </thead>

        <tbody>
        <% team_employees_sorted_by(@team).each do |employee| %>
          <tr>
            <td><%= link_to employee.id, employee_path(employee), method: :get %></td>
            <td><%= employee.name %></td>
            <td>
              <% if employee.assignable %>
                <i class="material-icons small icon-green" style="vertical-align: bottom">check</i>
              <% end %>
            </td>
          <tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>
      This team has no members.
    </p>
  <% end %>
</div>
