<h1>Team Details</h1>

<div>
  <p>
    Team: <%= @team.name %>
  </p>
  <p>
    Number of Members: <%= @team.employees.length %>
  </p>
  <p>
    id: <%= @team.id %>
  </p>
</div>

<% if @team.employees.length > 0 %>
  <div>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Active?</th>
      </tr>
      <% @team.employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.id, employee_path(employee), method: :get %></td>
          <td><%= employee.name %></td>
          <td><%= employee.assignable %></td>
        <tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>
    This team has no members.
  </p>
<% end %>

<div class="btn-group">
  <div>
    <%= button_to "Cancel", teams_path, method: :get %>
  </div>
  <div>
    <%= button_to "Edit", edit_team_path(@team) %>
  </div>
</div>
