<h4 class="center-align">Team Details</h4>

<div style="margin-bottom: 20px">
  <p>
    Team: <%= @team.name %>
  </p>
  <p>
    Number of Members: <%= @team.employees.length %>
  </p>
  <p>
    Day of the Week Shifts Start: <%= @team.start_day_as_string %>
  </p>
  <p>
    Length of Weekly Shift Block (days): <%= @team.shift_length %>
  </p>
  <p>
    id: <%= @team.id %>
  </p>

  <% if @team.employees.length > 0 %>
    <div>
      <p>
        Members
      </p>
      <table class="striped" style="margin-top: 20px">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Active?</th>
        </tr>
        <% @team.employees.each do |employee| %>
          <tr>
            <td><%= link_to employee.id, employee_path(employee), method: :get %></td>
            <td><%= employee.name %></td>
            <td><%= employee.assignable %></td>
          <tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <p>
      This team has no members.
    </p>
  <% end %>
</div>

<button class="waves-effect waves-light btn">
      <%= button_to "Go Back", teams_path, method: :get%>
</button>
<button class="waves-effect waves-light btn red">
      <%= button_to "Edit", edit_team_path(@team), method: :get %>
</button>
