<div>
  <%= form_for employee do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.check_box :assignable %>
      <%= f.label :assignable, "Assignable?" %>
    </p>
    <p>
      <%= f.check_box :admin %>
      <%= f.label :admin, "Admin?" %>
    </p>
    <p>
      <label>Teams</label> 
      <%= f.collection_check_boxes :team_ids, teams, :id, :name do |t| %>
        <p>
          <ul style="list-style-type:none">
            <li>
              <%= t.check_box %> <%= t.label %>
            </li>
          </ul>
        </p>
      <% end %>
    </p>


    <div>
      <%= f.submit %>
    </div>

  <% end %>

</div>
