<div>
  <%= form_for employee do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <label>Teams</label> <%= f.collection_check_boxes :team_ids, teams, :id, :name do |t| %>
        <p>
          <ul style="list-style-type:none">
            <li>
              <%= t.check_box %> <%= t.label %>
            </li>
          </ul>
        </p>
      <% end %>
    </p>
    <p>
      <label>Assignable?</label> <%= f.check_box :assignable %>
    </p>
    <p>
      <label>Admin?</label> <%= f.check_box :admin %>
    </p>

    <div>
      <%= f.submit %>
    </div>

  <% end %>
  <div>
    <%= button_to "Cancel", employees_path, method: :get %>
  </div>


</div>
