<div class="row" style="margin-bottom: 50px">

  <%= form_for employee do |f| %>

    <div class="row">
      <div class="col s6">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <%= f.check_box :assignable, class:"filled-in" %>
      <%= f.label :assignable, "Assignable?" %>
    </div>

    <div class="row">
      <%= f.check_box :admin, class:"filled-in" %>
      <%= f.label :admin, "Admin?" %>
    </div>

    <div class="row">
      <%= f.label :teams, "Teams" %>
      <%= f.collection_check_boxes :team_ids, teams, :id, :name do |t| %>
        <p>
          <ul style="list-style-type:none">
            <li>
              <div class="filled-in">
                <%= t.check_box(class:"filled-in") %> <%= t.label %>
              </div>
            </li>
          </ul>
        </p>
      <% end %>
    </div>

</div>

  <button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Save" style="margin-left:1em">
      <i class="material-icons icon-white"><%= f.submit "save"%></i>
  </button>

  <% end %>
