<div class="row">

</div>
<div class="row">
  <div class="col s9">
    <div class="divider"></div>
      <h6 class="center-align">
        Your Next Shift
      </h6>
    <p class="center-align">
        <% if @next_shift_start_end_days %>
          <p class="center-align">
            <b><%= @next_shift_start_end_days[:start].strftime("%A, %m/%d/%Y") %></b> to <b><%= @next_shift_start_end_days[:end].strftime("%A, %m/%d/%Y") %></b>
          </p>
          <p class="center-align">
            on <b><%= @team.name %></b>
          </p>
        <% else %>
          <b>
            None
          </b>
        <% end %>
    </p>
    <div class="divider"></div>
  </div>
  <div class="col s3 orange center-align">
    <h6>
      Your Open Swap Requests
    </h6>
  </div>
</div>
<div class="row">
  <div class="col s9">
    <div class="row center-align">
      <%= @employee.teams.length === 1 ? ('View Your Team Schedule') : ('View Your Team Schedules') %>
    </div>
    <div class="row center-align">
      <%= form_for @employee_form, :url => url_for(controller: 'employees', action: 'dashboard'), :method => "get" do |f| %>
        <div class="col s7 offset-s1">
          <%= f.select :team_ids, @employee_team_select %>
        </div>
        <div>
          <button type="submit" class="col s3 waves-effect waves-light btn" style="margin-top: 3px">
          <%= f.submit "Submit" %>
          </button>
        </div>
      <% end %>
    </div>
    <div class="divider"></div>
  </div>
  <div class="col s3 yellow center-align">
    <h6>
      Other Open Swap Requests
    </h6>
  </div>
</div>
<div class="row">
  <div class="center-align col s9">
    <% if @team %>
      <p class="center-align">
        <h6>
          <%= @team.name %> Shifts
        </h6>
      </p>
      <%= render partial: "shifts/calendar", locals: {date: @date, events_by_date: @events_by_date, team_id: @team.id, dashboard: true } %>
    <% else %>
      <%= "Please select a team to view its schedule." %>
    <% end %>
  </div>
  <div class="col s3 green center-align">
    <h6>
      Recently Closed Requests
    </h6>

  </div>
</div>
