<div class="row"></div>

<div class="row">

  <div class="col s9">

    <div class="divider"></div>
    <div class="row"></div>

      <%= render partial: "employees/dashboard_partials/next_shift", locals: {employee: @employee, next_shift_start_end_days: @next_shift_start_end_days} %>

    <div class="divider"></div>
    <div class="row"></div>

      <%= render partial: "employees/dashboard_partials/select_schedule", locals: {employee: @employee} %>

    <div class="divider"></div>
    <div class="row"></div>

      <%= render partial: "employees/dashboard_partials/schedule", locals: {team: @team, date: @date, events_by_date: @events_by_date} %>

  </div>

  <div class="col s3">
    <div class="center-align">
      <%= render partial: "employees/dashboard_partials/open_swap_req", locals: {employee: @employee} %>
    </div>
    <div class="center-align">
      <%= render partial: "employees/dashboard_partials/other_swap_req", locals: {employee: @employee} %>
    </div>
    <div class="center-align">
      <%= render partial: "employees/dashboard_partials/closed_swap_req", locals: {employee: @employee} %>
    </div>
  </div>

</div>
