<div class="row">

</div>
<div class="row">
  <div class="col s9">
    <div class="divider"></div>
      <h6 class="center-align">
        Your Next Shift
      </h6>
    <p class="center-align">
        <% if @next_shift_start_end_days %>
          <p class="center-align">
            <b><%= link_to "#{@next_shift_start_end_days[:start].strftime("%A, %m/%d/%Y")} to #{@next_shift_start_end_days[:end].strftime("%A, %m/%d/%Y")}", shift_details_path(team_id: @employee.next_shift.team_id, id: @employee.next_shift), method: :get %></b>
          </p>
          <p class="center-align">
            on <b><%= @team.name %></b>
          </p>
        <% else %>
          <b>
            None
          </b>
        <% end %>
    </p>
    <div class="divider"></div>
  </div>
  <div class="center-align">
    <div class="row col s3 orange">
      <h6>
        Your Open Swap Requests
      </h6>
    </div>
    <% if @employee.open_requests? %>
      <% @employee.open_requests.each do |request| %>
        <div class="row">
          <%= link_to request.display_open_req_info, shift_details_path(request.shift.team, request.shift), method: :get %>
          <div style="margin: 10px 0">
            <span class="grey white-text z-depth-2" style="padding: 5px">
              WAITING
            </span>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>None</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col s9">
    <div class="row center-align">
      <%= @employee.teams.length === 1 ? ('View Your Team Schedule') : ('View Your Team Schedules') %>
    </div>
    <div class="row center-align">
      <%= form_for @shift_calendar_form, :url => url_for(controller: 'employees', action: 'dashboard'), :method => "get" do |f| %>
        <div class="col s7 offset-s1">
          <%= f.select :team_ids, @employee_team_select %>
        </div>
        <div>
          <button type="submit" class="col s3 waves-effect waves-light btn" style="margin-top: 3px">
          <%= f.submit "Submit" %>
          </button>
        </div>
      <% end %>
    </div>
    <div class="divider"></div>
  </div>
  <div class="center-align">
    <div class="row col s3 yellow">
      <h6>
        Swap Requests From Others
      </h6>
    </div>
    <% if @employee.awaiting_responses? %>
      <% @employee.awaiting_responses.each do |res| %>
        <div class="row" style="font-size: x-small">
          <%= "#{res.request.employee.name} has requested to swap the" %> <%= link_to res.display_req_info, shift_details_path(team_id: res.request.shift.team.id, id: res.request.shift_id), method: :get %> shift for your <%= link_to res.display_res_info, shift_details_path(team_id: res.shift.team.id, id: res.shift_id), method: :get%> shift.
          <div class="row">
            <%= form_for @response, :url => url_for(controller: 'responses', action: 'update', id: res.id), :method => "patch" do |f| %>
              <%= f.button "Accept", name: "response", value: "accept" %>
              <%= f.button "Decline", name: "response", value: "decline" %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% else %>
      <p>None</p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="center-align col s9">
    <% if @team %>
      <p class="center-align">
        <h6>
          <%= @team.name %> Shifts
        </h6>
      </p>
      <%= render partial: "shifts/calendar", locals: {date: @date, events_by_date: @events_by_date, team_id: @team.id, dashboard: true } %>
    <% else %>
      <%= "Please select a team to view its schedule." %>
    <% end %>
  </div>
  <div class="center-align">
    <div class="row col s3 green">
      <h6>
        Your Closed Swap Requests
      </h6>
    </div>
    <div class="row">
      <% if @employee.closed_requests? %>
        <% @employee.closed_requests.each do |request| %>
          <%= link_to request.display_closed_req_info, shift_details_path(request.shift.team, request.shift), method: :get %>
          <div style="margin: 10px 0">
            <% if request.status === "completed" %>
              <span class="green white-text z-depth-2" style="padding: 5px">
                COMPLETED
              </span>
            <% elsif request.all_declined? %>
              <span class="red white-text z-depth-2" style="padding: 5px">
                DECLINED
              </span>
            <% else %>
              <span class="red white-text z-depth-2" style="padding: 5px">
                CANCELED
              </span>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>None</p>
      <% end %>
    </div>
  </div>
</div>
