<h4 class="center-align">Employees</h4>

<div class="container">
    <div class="col s8">
      <table class="bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Admin</th>
            <th>Assignable?</th>
          </tr>
        </thead>

        <tbody>
          <% @employees.sort_by(&:id).each do |employee| %>
            <tr>
              <td><%= link_to employee.id, employee_path(employee), method: :get %></td>
              <td><%= employee.name %></td>
              <td><%= employee.admin %></td>
              <td><%= employee.assignable %></td>
            <tr>
          <% end %>
        </tbody>

      </table>
    </div>

</div>

<div class="right-align" style="margin-right:30px; margin-bottom:30px">
  <div className="fixed-action-btn">
    <button class="btn-floating btn-large red tooltipped" data-position="top" data-delay="50" data-tooltip="Add employee">
        <i class="material-icons icon-white"><%= link_to "add", new_employee_path, method: :get, class: "icon-white" %></i>
    </button>
  </div>
</div>
