<h1>Add New Employee</h1>

<div>
  <%= form_for @employee do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <label>Teams</label> <%= f.collection_check_boxes :team_ids, @teams, :id, :name %>
    </p>
    <p>
      <label>Active?</label> <%= f.check_box :assignable %>
    </p>
    <p>
      <label>Assignable?</label> <%= f.check_box :role %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
