<div class="row">
  <%= render partial: "shifts/details", locals: {shift: @shift, employee: true} %>
</div>

<div class="row">
  <% if @shift.employee === current_user && @shift != @shift.team.current_shift && !@shift.started? && !@shift.active_swap_requests? %>
    <div class="row">
      <div class="divider"></div>
    </div>
    Request to swap this shift for one of these shifts (you may choose more than one):
    <%= form_for @request, :url => {:controller => "requests", :action => "create"} do |f| %>
      <%= f.hidden_field :request_shift_id, value: @shift.id %>
      <% @potential_trades.each do |trade| %>
        <%= f.fields_for :responses, trade do |response_field| %>
          <p>
            <ul style="list-style-type:none">
              <li>
                <div class="row">
                  <%= response_field.check_box :add_to_request, class: "filled-in" %>
                  <%= response_field.label :add_to_request, "#{trade.days.first.value} to #{trade.days.last.value} with #{trade.employee.name}" %>
                </div>
              </li>
            </ul>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <button type="submit" class="waves-effect waves-light btn">
          <%= f.submit "Submit Request"%>
      </button>
      <button class="waves-effect waves-light btn red" style="margin-left:1em">
          <%= link_to "Cancel", dashboard_path, method: :get, class: "white-text" %>
      </button>
    </div>
    <% end %>
  <% end %>

  <% if @shift.active_swap_requests? %>
    <div class="row">
      <div class="divider"></div>
    </div>
    <div class="row">
      You have sent a request to swap this shift with:
    </div>
    <div class="row">
      <% @shift.responses_of_sent_request.each do |response| %>
        <li>
          <%= link_to response.concat_response_info, shift_details_path(team_id: response.shift.team.id, id: response.shift.id), method: :get%>
        </li>
      <% end %>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn red" style="margin-left:1em">
          <%= link_to "Cancel Swap Request", request_path(@shift.active_swap_request), method: :patch, class: "white-text" %>
      </button>
    </div>
  <% end %>
</div>
