<div class="row">
  <%= render partial: "shifts/details", locals: {shift: @shift, employee: true} %>
</div>
<div class="row col-s12">
  <% if @shift.employee === current_user && @shift != @shift.team.current_shift && !@shift.started? %>
    Request to swap this shift for one of these shifts:
    <%= form_for @request, :url => {:controller => "requests", :action => "create"} do |f| %>
      <%= f.hidden_field :shift_id, value: @shift.id %>
      <% @potential_trades.each do |trade| %>
        <%= f.fields_for :responses, trade do |response_field| %>
          <p>
            <ul style="list-style-type:none">
              <li>
                <div class="row">
                  <%= response_field.check_box :add_to_request, class: "filled-in" %>
                  <%= response_field.label :add_to_request, "#{trade.days.first.value} to #{trade.days.last.value} with #{trade.employee.name}" %>
                </div>
              </li>
            </ul>
          </p>
        <% end %>
      <% end %>

      <div class="row" style="margin: 50px 0">
        <div class="col s12 left-align">
          <button type="submit" class="waves-effect waves-light btn">
              <%= f.submit "Submit Request"%>
          </button>
          <button class="waves-effect waves-light btn red" style="margin-left:1em">
              <%= link_to "Cancel", dashboard_path, method: :get, class: "white-text" %>
          </button>
        </div>
      </div>


    <% end %>
  <% end %>



</div>
