<h4 class="center-align">Employee Details</h4>

<div style="margin-bottom: 20px">
  <div class="row">
    <div class="col s9">
      <p>
        id: <%= @employee.id %>
      </p>
      <p>
        Name: <%= @employee.name %>
      </p>
      <p>
        Assignable? <% if @employee.assignable %>
          <i class="material-icons small icon-green" style="vertical-align: bottom">check</i>
        <% end %>
      </p>
      <p>
        Admin?
        <% if @employee.admin %>
          <i class="material-icons small icon-green" style="vertical-align: bottom">check</i>
        <% end %>
      </p>
    </div>
    <div class="col s3" style="margin-top: 25px">
      <button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Go back" style="margin-left:1em">
        <i class="material-icons icon-white"><%= button_to "arrow_back", employees_path, method: :get %></i>
      </button>
      <button class="waves-effect waves-light btn-floating btn-large red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit employee details" style="margin-left:1em">
        <i class="material-icons icon-white"><%= button_to "edit", edit_employee_path(@employee), method: :get  %></i>
      </button>
    </div>
  </div>

  <% if !@employee.teams.empty? %>
    <div class="row">
      <div class="col s6">
        <ul class="collection with-header">
          <li class="collection-header">Teams</li>
          <% @employee.teams.each do |team| %>
              <li class="collection-item">
                <%= link_to team.name, team_path(team), method: :get, class:"collection-item" %>
              </li>

          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
      <p>
        This employee is not a member of any team.
      </p>
  <% end %>
</div>
