
  <div class="row center-align">
    <div class="col s12">
      <div class="center-align">
        <%= link_to team_shifts_path(date: date - 1.month), class: "waves-effect waves-light btn-floating btn-small", style:"margin-right: 1em" do %>
          <i class="material-icons icon-white">keyboard_arrow_left</i>
        <% end %>
        <%= "#{date.strftime("%B")} #{date.year}" %>
        <%= link_to team_shifts_path(date: date + 1.month), class: "waves-effect waves-light btn-floating btn-small", style:"margin-left: 1em" do %>
          <i class="material-icons icon-white">keyboard_arrow_right</i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row center-align">
    <div class="bootstrap">
      <div class="col-md-12">
        <%= calendar date do |date| %>
          <%= date.day %>
          <% if events_by_date[date] %>
            <ul>
              <% events_by_date[date].each do |event| %>
                <li><%= link_to Shift.find_by_id(event.shift_id).employee.name, team_shift_path(team_id: Shift.find_by_id(event.shift_id).team_id, id: event.shift_id), method: :get, style:"text-decoration: none"%></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
