<h4 class="center-align">Shift Details</h4>

<div style="margin-bottom: 20px">
  <div class="row">
    <div class="col s8">
      <% if !employee %>
        <p>
          id: <%= shift.id %>
        </p>
      <% end %>
      <p>
        Employee: <%= link_to shift.employee.name, employee_path(shift.employee), method: :get %>
      </p>
      <p>
        Team: <%= link_to shift.team.name, team_path(shift.team), method: :get %>
      </p>
    </div>
    <div class="col s4 right-align" style="margin-top:1em">
      <button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-delay="50" data-tooltip="Go back" style="margin-left:1em">
        <i class="material-icons icon-white"><%= button_to "arrow_back", team_shifts_path((shift.team)), method: :get %></i>
      </button>
      <% if !employee %>
        <button class="waves-effect waves-light btn-floating btn-large red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit shift details" style="margin-left:1em">
          <i class="material-icons icon-white"><%= button_to "edit", edit_team_shift_path(team_id: shift.team_id, id: shift.id), method: :get  %></i>
        </button>
      <% end %>
    </div>
  </div>

  <% if shift.days.length > 0 %>
    <div>
      <table class="highlight" style="margin-top: 20px">
        <thead>
          <tr>
            <th class="center-align">Date</th>
            <th class="center-align">Day of the Week</th>
            <th class="center-align">Workday</th>
            <th class="center-align">Holiday</th>
          </tr>
        </thead>

        <tbody>
        <% shift.get_shift_days.each do |day| %>
          <tr>
            <td class="center-align"><%= day.value.strftime("%m/%d/%Y") %></td>
            <td class="center-align"><%= day.get_day_of_the_week %></td>
            <td class="center-align">
              <% if day.workday %>
                <i class="material-icons small icon-green">check</i>
              <% end %>
            </td>
            <td class="center-align orange-text">
              <%= concat_holidays(day) %>
            </td>
          <tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>
      This shift has no days.
    </p>
  <% end %>
</div>
