<h4 class="center-align">Edit Shift</h4>

<div style="margin-bottom:20px">
  <div class="row">
    <div class="col s4">
      <p>
        id: <%= @shift.id %>
      </p>
    </div>
  </div>
  <div class="row">
    <%= form_for @shift, :url => {:action => "update", :id => @shift} do |f| %>

      <div class="row">
        <div class="col s4">
          <%= f.label :employee_id %>
          <%= f.select :employee_id, @employees %>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          Team: <%= @shift.team.name %>
        </div>
      </div>
    </div>
  </div>

  <p>
    Workdays
  </p>

  <div>
    <table class="highlight" style="margin-top: 20px">
      <thead>
        <tr>
          <th>Date</th>
          <th>Day of the Week</th>
          <th>Workday</th>
          <th>Holiday</th>
        </tr>
      </thead>
      <tbody>
        <% @shift.get_shift_days.each do |day| %>
          <tr>
            <td><%= day.value %></td>
            <td>
              <%= day.get_day_of_the_week %>
            </td>
            <td>
              <%= f.fields_for :days, day do |day_field| %>
                <p>
                  <ul style="list-style-type:none">
                    <li>
                      <div class="row">
                      <%= day_field.check_box :workday%>
                      <%= day_field.label :workday, "click to change" %>
                      </div>
                    </li>
                  </ul>
                </p>
              <% end %>
            </td>
            <td>
              <div class="orange-text text-darken-3">
                <%= day.get_holiday_text %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="left-align" style="margin: 2em 0">
    <button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Save" style="margin-left:1em; margin-bottom:">
        <i class="material-icons icon-white"><%= f.submit "save"%></i>
    </button>

    <% end %>

    <button class="btn-floating btn-large red tooltipped" data-position="top" data-delay="50" data-tooltip="Cancel" style="margin-left:1em">
        <i class="material-icons icon-white"><%= link_to "cancel", team_shift_path(team_id: @team_id, id: @shift.id), method: :get, class: "icon-white" %></i>
    </button>

    <button class="btn-floating btn-large green tooltipped" data-position="top" data-delay="50" data-tooltip="Delete" style="margin-left:1em">
        <i class="material-icons icon-white"><%= link_to "delete", team_shift_path(team_id: @team_id, id: @shift.id), method: :delete, class: "icon-white" %></i>
    </button>
  </div>


</div>
