<h4 class="center-align">Create Shift</h4>

  <%= form_for @shift, :url => url_for(:controller => 'shifts', :action => 'create') do |f| %>

    <div class="container">
      <div class="row" style="padding: 50px 0">

        <div class="col s6" style="padding: 10px 0px; text-align: right">
          <%= f.radio_button :assignment_method, 'manual', :checked => true %>
          <%= f.label :assignment_method_manual, "Manually assign next open shift to" %>
        </div>

        <div class="col s6">
          <%= f.collection_select :employee_id, @employees, :id, :name, {include_blank: 'Select an employee || random employee', selected:""}  %>
        </div>

      </div>

      <div class="row">
        <div class="col s6" style="padding: 10px 0px; text-align: right">
          <%= f.radio_button :assignment_method, 'auto' %>
          <%= f.label :assignment_method_auto, "Randomly assign to next" %>
        </div>

        <div class="col s2">
          <%= f.select :weeks_to_assign, options_for_select(@weeks, @weeks[0]) %>
        </div>

        <div class="col s4" style="padding: 11px 0px; text-align: left">
          <label style="font-size: 14px">open shift(s)</label>
        </div>
      </div>
    </div>

    <%= f.hidden_field :team_id, value: @team.id %>

    <div class="row" style="margin: 100px 50px">
      <div class="col s12 right-align">
        <button type="submit" class="waves-effect waves-light btn">
          <%= f.submit %>
        </button>
        <button class="waves-effect waves-light btn red" style="margin-left:1em">
          <%= link_to "cancel", team_shifts_path, method: :get, class: "white-text" %>
        </button>
      </div>
    </div>




  <% end %>
